*{
	margin:0;
	padding:0;
}
html,body{
	min-height:100%;
	font-family: '微軟正黑體';
	text-decoration: none;
}
body{
	overflow-scrolling: touch;
}
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-1-5{
	width: 20%;
	float: left;
}
/*====*/
.resume_name{
	height: 60vh;
	background-color: hsl(200, 100%, 50%);
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}
.resume_name_pic{
	margin:0 auto;
	transition:all .5s ease-in;
	opacity: 1;
	transform-origin: 0 0;
	transform:translate3d(0,0,0) rotate(0);
}
.resume_name_pic.active{
	opacity: 0;
	transform:translate3d(-10%,0,0) rotate(-90deg);
}
.text_name{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 5em;
	color: #fff;
	z-index: 999;
	width: 100%;
}
.title-img{
	margin: 0 auto;
	animation: titleImg 1s ease-in .5s infinite;
}
@keyframes titleImg{
	0%{
		transform:scale(1);
	}
	50%{
		transform:scale(1.2);
	}
	100%{
		transform:scale(1);
	}
}
.scene{
	width: 100%;
	height: 80vh;
	background-image: url('../images/t01.jpg')
}
.bg{
	width: 100%;
	height: 80vh;
	background-size: cover;
}
.bg01{
	background-image: url('../images/t01.jpg');
	background-position: top center;
}
.bg02{
	background-image: url('../images/t02.png');
	background-position: top center;
}
/*====*/
.img_carousel_box .container{
	padding-right: 0;
	padding-left: 0;
}
.img_carousel_box{
	height: 80vh;
}
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    height: 80vh;
    max-width: 100%;
    line-height: 1;
    width: 100%;
    object-fit:cover;
}
.row{
	overflow: hidden;
}
.prevjob-caption-box{
	height: 50%;
}
.prevjob-content{
	margin-bottom: 1rem;
}
.prevjob-caption-box:nth-child(1){
	margin-bottom: 8px;
}
.prevjob-caption-col{
	height: 100%;
}
.resume_prevjob .caption{
	padding: 0 20px 0;
	border: 6px solid black;
	height: 100%;
	border-radius: 20px;
}
.resume_prevjob .caption .title{
	font-size: 32px;
	border-bottom: 3px solid black;
}
.resume_prevjob_box{
	padding: .8em 0;
}
.prevjob-img{
	transform:translate3d(80%,0,0);
	transition:all .5s ease-in;
	margin: .5em auto;
}
.prevjob-img.active{
	transform:translate3d(0,0,0);
}
/*==============*/
.resume_skill_box{
	padding: 0 0 1em;
	background-image: url('../images/2fc0124e.png');
}
.resume_skill_box .title{
	text-align: center;
	font-size: 4rem;
	color: #404040;
	font-weight: bold;
}
.skill_one{
	background-color: #E0E3DA;
}
.skill_one .col-md-12:last-child .skill_box{
	margin: 1em auto;
}
.skill_box{
	margin: 1em auto 0;
	padding: .5em 0;
	background-color: #9DC8C8;
	border-radius: 5px;
}
.skill_name{
	color: #fff;
	text-align: center;
	font-weight: bold;
}
.skill_progress{
	height: 20px;
	background-color: #fff;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.skill_progress_bar{
	height: 100%;
	width: 0%;
	background-color: #337ab7;
	text-align: center;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	transition: all .5s ease-in;
}
/*==============*/
.resume_other_two_box{
	padding: 2vw 0;
}
.other_two_box{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin: .25em auto .25em;
	transition:all .5s ease-out;
	transform:scale(0.1);
	overflow: hidden;
	border: 10px solid #eee;
}
.other_two_box.active{
	transform:scale(1);
}
.other_two_col:nth-child(1) .other_two_box.active:hover{
	border: 10px solid #017CBB;
}
.other_two_col:nth-child(2) .other_two_box.active:hover{
	border: 10px solid #f94e3f;
}
.other_two_col:nth-child(3) .other_two_box.active:hover{
	border: 10px solid #5CAB7D;
}
.other_two_col:nth-child(4) .other_two_box.active:hover{
	border: 10px solid #7200da;
}
.other_two_col:nth-child(5) .other_two_box.active:hover{
	border: 10px solid #ffc952;
}
.other_two_icon_box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}
.other_two_icon_box span{
	display: block;
	text-align: center;
}
.other_two_icon{
	font-size: 3em;
}
/*==============*/
.resume_about_box{
	padding: .8em 0;
}
.img_about_box{
	width: 100%;
	height: 200px;
	object-fit: cover;
	transition:all .5s ease-in;
	transform:translate3d(0,90%,0);
}
.img_about_box.active{
	transform:translate3d(0,0%,0);
}
/*==============*/
.resume_contact_box{
	padding: 3vw 0;
	background-color: #D7FFF1;
}
.resume_contact_box .title{
	text-align: center;
	display: block;
	color: #fff;
	font-size: 4rem;
	text-shadow: 0 0 3px #000;
}
.about_me{
	padding: .8em 1em;
}
.about_me_row{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 10px;
	position: relative;
	height: 40px;
}
.about_me_row [class*='col-']{
	padding-left: 0;
	padding-right: 0;
}
.about_me_box{
	position: absolute;
	width: 100%;
	top: -40px;
	left: 0;
	transition: all 1s ease-in;
}
.about_me_box.down1.active{
	animation: down 1s ease-in .5s forwards;
}
.about_me_box.down2.active{
	animation: down 1s ease-in .1s forwards;
}
.about_me_box.down3.active{
	animation: down 1s ease-in 1s forwards;
}
@keyframes down{
	0%{
		top: -40px;
	}
	100%{
		top: 0;
	}
}
.about_me_title{
	text-align: center;
	background-color: #FFFFF2;
	height: 40px;
	line-height: 40px;
	border-radius: 6px 0 0 6px;
	font-weight: bold;
}
.about_me_content{
	background-color: #FFFFF2;
	font-size: 1em;
	height: 40px;
	line-height: 40px;
	padding-left: 6px;
	border-radius: 0 6px 6px 0;
	font-weight: bold;
	text-align: center;
}
.resume_contact_box{
	background-image: url('../images/about_me_star.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
/*====*/
.test{
	padding: 1em 0;
	background-image: url('../images/d81a4666.png');
}
.test-content{
	height: 100%;
}
.test-box .col-md-3{
	padding-left: 0;
	padding-right: 0;
	height: 140px;
	border: 1px solid #fff;
}
.test-content a{
	background-size: 28%;
	background-repeat: no-repeat;
	background-position: 50% 20%;
	text-align: center;
	padding: 80px 0 0 0;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration:none;
	position: relative;
}
.test-content a:after{
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	background-image: url('../images/icon_open.png');
	z-index: 2;
}
.test-content a:before{
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: blue;
	z-index: 1;
	opacity: 0;
	transition: all .3s ease-in;
}
.test-content:hover a::before{
	opacity: .3;
}
.test-content .text-caption{
	color: #fff;
}
.test-box .test-content{
	margin-left: -1px;
}
.test-box .test-content:nth-child(1) a{
	background-image: url('../images/Alien.svg');
	background-color: #8C4E96;
}
.test-box .test-content:nth-child(2) a{
	background-image: url('../images/Moon.svg');
	background-color: #A9BCCC;
}
.test-box .test-content:nth-child(3) a{
	background-image: url('../images/Ninja Turtle.svg');
	background-color: #689238;
}
.test-box .test-content:nth-child(4) a{
	background-image: url('../images/Astronaut.svg');
	background-color: #3B92B9;
}
.test-box .test-content:nth-child(5) a{
	background-image: url('../images/Comet.svg');
	background-color: #BF411A;
}
.test-box .test-content:nth-child(6) a{
	background-image: url('../images/Close Up Mode.svg');
	background-color: #AC2B28;
}
.test-box .test-content:nth-child(7) a{
	background-image: url('../images/Thriller.svg');
	background-color: #9D93AF;
}
.test-box .test-content:nth-child(8) a{
	background-image: url('../images/Sports Mode.svg');
	background-color: #007166;
}
.test-box .test-content:nth-child(5),
.test-box .test-content:nth-child(6),
.test-box .test-content:nth-child(7),
.test-box .test-content:nth-child(8){
	margin-top: -1px;
}
/*=======*/
.four_angle_box{
	padding: 1em 0 0;
}
.four_angle_col{
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 1em;
}
.four_angle_thumbnail{
	width: 265px;
	margin-bottom: 0;
	padding: 0;
	border:none;
	text-decoration: none;
	margin: 0 auto 0;
}
.four_angle_thumbnail:hover{
	text-decoration: none;
}
.four_angle_img_box{
	width: 265px;
	height: 159px;
	position: relative;
	overflow: hidden;
}
.four_angle_img_box:after{
	content: '';
	display: block;
	position: absolute;
	top: -25px;
	left: -25px;
	width: 51px;
	height: 51px;
	background-color: #fff;
	transform:rotate(45deg);
	z-index: 2;
}
.four_angle_img_box:before{
	content: '';
	display: block;
	position: absolute;
	bottom: -25px;
	right: -25px;
	width: 51px;
	height: 51px;
	background-color: #fff;
	transform:rotate(45deg);
	z-index: 2;
}
.four_angle_img_box .four_angle_bgcolor{
	width: 100%;
	height: 100%;
}
.four_angle_thumbnail:hover .four_angle_bgcolor::after{
	opacity: .35;
}
.four_angle_img_box .four_angle_bgcolor:after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
	transition: all .2s ease-in;
}
.four_angle_img_box .four_angle_bgcolor .four_angle_img img{
	width: 100%;
	height: 100%;
	transition: all .5s ease-in;
}
.four_angle_img_box .four_angle_bgcolor:hover .four_angle_img img{
	transform:scale(1.1);
}
.four_angle_img_box .four_angle_bgcolor .four_angle_img:after{
	content: '';
	display: block;
	position: absolute;
	top: -25px;
	right: -25px;
	width: 51px;
	height: 51px;
	background-color: #fff;
	transform:rotate(45deg);
	z-index: 2;
}
.four_angle_img_box .four_angle_bgcolor .four_angle_img:before{
	content: '';
	display: block;
	position: absolute;
	bottom: -25px;
	left: -25px;
	width: 51px;
	height: 51px;
	background-color: #fff;
	transform:rotate(45deg);
	z-index: 2;
}
.four_angle_hover{
	position: absolute;
	top:-25px;
	right: 10px;
	z-index: 3;
	transition: all .3s ease-in;
	opacity: 0.1;
}
.four_angle_thumbnail:hover .four_angle_hover{
	opacity: 1;
	top:0px;
}
.four_angle_hover2{
	position: absolute;
	bottom:-25px;
	left: -25px;
	z-index: 3;
	transition: all .3s ease-in;
	transform:rotate(45deg);
	opacity: 0.1;
}
.four_angle_thumbnail:hover .four_angle_hover2{
	opacity: 1;
	bottom:5px;
	left: 5px;
}
/*==banner_box==*/
.banner_box{
	padding: 2em 0;
}
.banner-col{
	padding-left: 0;
	padding-right: 0;
}
.banner-img-box{
	overflow: hidden;
	display: block;
	margin:0 auto;
	position: relative;
	top: 0;
	left: 0;
}
.banner-img-1{
	position: absolute;
	transition: all .3s ease-in;
	top: 0;
	left: 0;
}
.banner-img-box:hover .banner-img-1{
	transform: scale(1.1);
}
.banner-img-2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate3d(-50%,-50%,0);
}
.banner-img-3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate3d(-50%,-50%,0);
	transition: all .3s ease-in;
}
.banner-img-box:hover .banner-img-3{
	transform:translate3d(-50%,-50%,0) scale(0.9);
}
/*=====*/
.card_rotate_box{
	padding: 1em 0 0;
}
.card_rotate_col{
	margin: 0 auto 1em;
	height: 389px;
	transform-style: preserve-3d;
	transition: all .5s ease-in;
}
.card_rotate_col.active{
	transform:rotateY(180deg);
}
.card_rotate_front{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate3d(-50%,-50%,0);
	backface-visibility:hidden;
}
.card_rotate_thumbnail{
	padding: 0;
	width: 230px;
	margin: 0 auto 0;
}
.card_rotate_back{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate3d(-50%,-50%,0) rotateY(180deg);
	backface-visibility:hidden;
}
/*==media quary==*/
@media (min-width: 768px) {
.col-sm-1-5 {
		width: 20%;
		float: left;
	}
	.banner-img-box{
		width: 750px;
	}
}
@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
	.banner-img-box{
		width: 960px;
	}
}
@media (min-width: 1200px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
	.test-box,
	.other_two_row,
	.resume_prevjob{
		padding-left: 6em;
		padding-right: 6em;
	}
	.banner-img-box{
		width: 960px;
	}
}
.resume_move_img:after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
}